label{
    color: #1c2331;
    font-weight: 500;
}
.form-control{
    border: 1px solid #1e7b34;
}

.form-control:focus{
    border-color: #1e7b34;
    box-shadow: 0 0 0 0.2rem rgba(30, 123, 52, 0.4);
}

button{
    width: 120px;
}

@media screen and (min-width: 768px){
    .container{
        border: 1px solid #1e7b34;
        border-radius: 6px;
        box-shadow: 0px 6px 8px rgba(30, 123, 52, 0.4),
                4px 0px 12px rgba(30, 123, 52, 0.15),
                -4px 0px 12px rgba(30, 123, 52, 0.15);
        background-color: #e9ecef;
    }
}