<%- include('../layouts/navbar') %>

<link rel="stylesheet" href="/css/campForm.css">

<div class="container form-container mt-5 p-5 w-50">
    <form action="/campgrounds" method="post">
        <div class="form-group">
            <label for="name">Campground Name</label>
            <input type="text" class="form-control" id="name" name="camp[name]" required> 
        </div>

        <div class="form-group">
            <label for="image">Campground Image URL</label>
            <input type="url" class="form-control" id="image" name="camp[image]" required> 
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="camp[description]" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">Add</button>
        <br>
        <a class="text-success d-inline-block mt-2" href="/">Go Back</a>
    </form>
</div>

<%-include('../layouts/footer')%>